@use 'src/shared/ui/styles/typography' as t;

.box {
  display: flex;
  justify-content: center;
  margin: 36px 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 378px;
}

.title {
  @include t.uik-h1-typography;

  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.password {
  margin-top: 24px;
}

.question {
  @include t.uik-regular-text-16;

  margin-top: 18px;
  text-align: center;
}

.signUp {
  margin: 6px auto 0;

  &:hover {
    text-decoration: underline;
  }
}
