.modal {
  display: flex;
  flex-direction: column;

  width: 220px;
  margin: 0 auto;
  padding: 49px 0 12px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 228px;
  margin-bottom: 60px;
}

.select {
  margin-bottom: 24px;
}