.trigger {
  width: 163px;
}

.content {
  width: 100%;
  max-width: 163px;
}

.item {
  position: relative;
}

.icon {
  position: absolute;
}

.text {
  display: inline-block;
  margin-left: 32px;
}
