@use 'src/shared/ui/styles/typography' as t;

.box {
  display: flex;
  justify-content: center;
  margin: 36px 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 378px;
}

.title {
  @include t.uik-h1-typography;

  text-align: center;
}

.icons {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 13px;

  svg {
    width: 36px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.username {
  margin-top: 24px;
}

.email {
  margin-top: 24px;
}

.password {
  margin-top: 24px;
}

.passwordConfirmation {
  margin-top: 24px;
}

.compliance {
  @include t.uik-small-text;

  margin: 22px auto 0;
}

.termsOfService,
.privacyPolicy {
  @include t.uik-small-link;

  padding: 0;
  text-decoration: underline;
}

.signUp {
  margin-top: 22px;
}

.question {
  @include t.uik-regular-text-16;

  margin-top: 18px;
  text-align: center;
}

.signIn {
  margin: 6px auto 0;

  &:hover {
    text-decoration: underline;
  }
}
