:root {
  /* border-radius */
  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 10px;

  /* transitions */
  --transtition-duration-basic: 200ms;

  /* z-indexes */
  --z-index-header: 10;
  --z-index-sidebar: 20;
  --z-index-sidebar-overlay: 19;
  --z-index-modal-overlay: 100;
  --z-index-modal-content: 101;

  --header-height: 60px;
}
